In [61]:
import pandas as pd

# POR REGIÃO
# FONTE: https://www.ipea.gov.br/atlasviolencia/filtros-series/16/suicidios
df = pd.read_csv('suicidio-de-jovens-regiao.csv', delimiter=';')
pd.set_option('display.max_rows', 100)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cod      918 non-null    int64
 1   nome     918 non-null    object
 2   período  918 non-null    int64
 3   valor    918 non-null    int64
dtypes: int64(3), object(1)
memory usage: 28.8+ KB

In [63]:
df.head()

   cod nome  período  valor
0   50   MS     1989     30
1   15   PA     1989     41
2   17   TO     1989      5
3   14   RR     1989      1
4   53   DF     1989     32

In [64]:
mortes = df['valor'].sum()
anos = df['período'].nunique()
media_ano = round(mortes / anos , 2)

media_mes = round(media_ano / 12, 2)
media_dia = round(media_ano / 365, 2)

print(mortes)
print(anos)

print(media_ano)
print(media_mes)
print(media_dia)

91533
34
2692.15
224.35
7.38

In [65]:
maior = df['valor'].max()
menor = df['valor'].min()

print(maior, menor)

799 1

In [66]:
df.groupby('período')['valor'].sum().sort_values(ascending=False)

período
2022    4457
2021    4234
2019    3862
2020    3771
2018    3396
2017    3263
2016    2954
2011    2954
2015    2936
2012    2900
2014    2898
2013    2872
2008    2865
2010    2815
2009    2775
2007    2737
2006    2668
2003    2613
2005    2597
2004    2586
2001    2539
2002    2515
1996    2334
1995    2298
1998    2285
1997    2225
1994    2153
2000    2142
1999    2132
1993    2025
1992    1779
1991    1730
1990    1664
1989    1559
Name: valor, dtype: int64

In [67]:
df.groupby('nome')['valor'].sum().sort_values(ascending=False)

nome
SP    18449
MG     9324
RS     7627
PR     6774
CE     4655
SC     4034
GO     3875
RJ     3614
PE     3592
BA     3516
PA     2990
MS     2444
AM     2423
MT     2131
MA     2047
PI     1939
SE     1699
DF     1588
ES     1364
RO     1275
PB     1219
RN     1217
AL     1172
TO      816
AP      688
AC      531
RR      530
Name: valor, dtype: int64

In [70]:
recente = df[df['período'] == 2022]

estado = recente.groupby('nome')['valor'].sum().sort_values(ascending=False)

print(estado)

nome
SE    799
MT    480
PE    318
RO    284
BA    227
PA    210
CE    206
RJ    204
GO    202
SC    199
AP    153
PI    143
MS    127
MA    116
MG    109
PR     95
DF     83
PB     74
RN     65
AL     64
TO     54
RR     53
ES     51
SP     46
AM     34
AC     34
RS     27
Name: valor, dtype: int64